  <!-- Header -->
  <header class="home-header">
    <div class="home-logo-tagline"> 
        <div class="home-logo-img-container"><a href="#"><img src="/images/logo.jpg" alt="image of Rapper logo" /></a></div>
        <h3>The Karaoke Blog</h3>
    </div>
</header>