     <!-- Nav section -->
     <nav class="home-nav">
        <ul class="home-nav-tier1-list"> 
            <li><a href="/" class="home-nav-link">Home</a> </li>
            <li><a href="/addPosts" class="home-nav-link">Add Post</a></li>
           <li>
                <a href="/viewPages" class="home-nav-link">Manage Posts</a>
            </li>
            <% if (navs && navs.length > 0) {  %>
            <% navs.forEach((nav) => { %>
                    <li>  <a  class="home-nav-link" href="/viewPage/<%= nav.pageId%> " ><%= nav.pageTitle %></a> </li>
                <% } ) %>
            <% } %>
        </ul>
    </nav>