<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('layouts/head'); -%>
    </head>
<body>

    <div class="home-container">

        <!-- Header -->
        <%- include('layouts/header'); -%>

         <!-- Nav section -->
         <%- include('layouts/nav'); -%>

         <!-- Hero section -->
        <div class="home-hero-section"> 

         </div>

         <!-- About -->
         <section class="home-about-section">
            <h2>Welocome Onboard!</h2>
            <p>Unleash your inner rockstar and dive into the world of karaoke with our ultimate blog destination! Whether you're a crooner craving the spotlight or a newbie looking to belt out your first tune, our blog is your go-to source for all things karaoke. From expert tips to the latest song recommendations, we've got you covered. Join our vibrant community of music lovers and let's turn every karaoke night into an unforgettable jam session. Get ready to hit the stage, steal the show, and make memories that'll have you singing for days</p>
         </section>

         <!-- Footer -->
         <%- include('layouts/footer'); -%>
     </div>
     

</body>
</html>