<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('layouts/head'); -%>
        <link rel="stylesheet" type="text/css" href="css/styles.css">
    </head>
<body>

    <div class="home-container">

        <!-- Header -->
        <%- include('layouts/header'); -%>

         <!-- Nav section -->
         <%- include('layouts/nav'); -%>

         <!-- Footer -->
         <%- include('layouts/footer'); -%>
     </div>
     

</body>
</html>